.curseclient
.mixin.out
bendspacks
fonts
crash-reports
journeymap
logs
mods
realms_persistence.json
resourcepacks
saves
schematics
shaderpacks
usercache.json
usernamecache.json
crafttweaker.log
options.txt
screenshots
config/splash.properties
config/jei/worldSettings.cfg
stall-reports
options.txt
XaeroWorldMap/
backups/
