.curseclient
.mixin.out/
backups/
bendspacks/
crash-reports/
journeymap/
logs/
mods/
resourcepacks/
saves/
schematics/
screenshots/
shaderpacks/
usercache.json
usernamecache.json
realms_persistence.json
crafttweaker.log
config/splash.properties
config/jei/worldSettings.cfg
